<%- include('header-html') %>

    <body>
        <div class="inception-form-page">
            <%- include('header-container') %>
                <form action="" method="POST">
                    <div id="business-details-form" class="question-page-container">
                        <h2>Item Details</h2>
                        <hr>
                        <% Object.keys(barItems).forEach((key, index) => { %>
                        <h3>Item <%= index+1 %> - <%= key %></h3>
                            <div id="<%= key %>-field1-div" class="question-container">
                                <input type="text" name="<%= key %>_field1" id="<%= key %>_field1" placeholder="<%= barItems[key].field1 %>" required>
                            </div>
                            <% if ( barItems[key].field2 != 'N/A' ) { %>
                            <div id="<%= key %>-field2-div" class="question-container">
                                <input type="text" name="<%= key %>_field2" id="<%= key %>_field2" placeholder="<%= barItems[key].field2 %>" required>
                            </div>
                            <% } %>
                        <% }) %>
                    </div>
                    <div class="btn-container">
                        <button id="prev_btn" >Previous</button>
                        <button type="submit" id="next_btn">Submit</button>
                    </div>
                </form>
        </div>
        <script type="text/javascript" src="/js/inception.js"></script>
    </body>