<%- include('header-html') %>

    <body>
        <div class="inception-form-page">
            <%- include('header-container') %>
                <form action="" method="POST">
                    <div id="personal-details-form" class="question-page-container">
                        <h2>Policy Details</h2>
                        <hr>
                        <input type="text" name="barNumberLmt" id="barNumberLmt" value="<%= barNumberLmt %>" hidden>
                        <div id="inception-date-div" class="question-container">
                            <label for="inception_date">When would you like your policy to start?</label>
                            <select name="inception_date" id="inception_date" required>
                                <option value="" selected disabled>Select an Inception Date</option>
                                <option value="<%- currentDate %>"><%- currentDate %></option>
                                <option value="<%- tomorrowDate %>"><%- tomorrowDate %></option>
                                <option value="<%- firstNextMonth %>"><%- firstNextMonth %></option>
                            </select>
                        </div>
                            <div id="number-bar-items-div" class="question-container">
                                <label for="barItemsNumDropdown">Number of electronic items/tools you are insuring</label>
                                <select id="barItemsNumDropdown" name="barItemsNumDropdown">
                                    <option value="" disabled selected>Number of Items</option>
                                    <% for (let i=1; i <=barNumberLmt; i++) { %>
                                        <option value="<%= i %>"><%= i %></option>
                                        <% } %>
                                </select>
                            </div>
                            <% for (let i=1; i <= barNumberLmt; i++) { %>
                            <div id="barItemCategory<%=i%>" class="question-container">
                                <label for="barItemCategory<%=i%>">What category is item <%=i%></label>
                                <select name="barItemCategory<%=i%>" id="barItemCategory<%=i%>">
                                    <option value="" disabled selected>Select Category</option>
                                    <% for (let i=1; i <=barCategoryList.length; i++) { %>
                                        <option value="<%= barCategoryList[i] %>"><%= barCategoryList[i] %></option>
                                        <% } %>
                                </select>                              
                            </div>
                            <% } %>
                    </div>
                    <div class="btn-container">
                        <button type="submit" id="next_btn">Next</button>
                    </div>
                </form>
        </div>
    </body>